*{
    margin: 0px;
    padding: 0px;
}
body{
    background: rgb(47,105,48);
    background: linear-gradient(90deg, rgba(47,105,48,1) 0%, rgba(32,224,222,1) 100%, rgba(55,107,63,0.9585084033613446) 100%); 
}
.container{
    margin-left: 40%;
    margin-top: 5%;
}
#text{
    width:300px;
    height: 40px;
    border-radius: 10px;
}
button{
    width:80px;
    height: 30px;
    border-radius: 40px;
    background-color:rgb(83, 195, 85); 
    font-weight: bolder;

}
.h1text{
    position: absolute;
    top:130px;
    left:35%;
    color:rgb(23, 40, 65);
}
.logo{
    width: 8%;
    margin-left: 20px;
}
a{
    color: rgb(9, 113, 30);
    font-weight: bolder;
    font-size: 20px;
}
.ghj{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 40px;
}
#con1{
    margin-top: 40px;
    border: 5px solid white;
    height: 400px;
    width: 55.8%;
    margin-left: 300px;
    overflow: hidden;
}